@import './../../../src/styles/sass/vars.scss';
@import './../../../src/styles/sass/mixins';


.ratingg {
  display: flex;
  margin-left: 15px;
  border-top: 0.5px solid #C7C7C7;
  border-bottom: 0.5px solid #C7C7C7;
  padding: 12px 0 8px 0;
  max-width: 290px;
  margin-top: 45px;
  @include media(xs) {
    margin-left: 32px;
    max-width: 506px;
    padding: 14px 0 25px 0;
  }

  .imgCup {
    margin-right: 11px;
    @include media(xs) {
      @include text(18px, 600, 26px);
      margin-right: 8px;
    }
  }

  .wrapperTextRating {
    @include text(14px, 500, 20px);
    margin-top: 4px;
      @include media(xs) {
        @include text(18px, 600, 26px);
        display: flex;
        margin-top: 9px;
        max-height: 24px;
      }
    //  @include media(sm) {
    //    @include text(18px, 600, 26px);
    //  }
    //}
  }
  .ratinggText {
    @include media(xs) {
      margin-right: 5px;
    }
  }
  .stars {

  }
}



