@import "../../../styles/sass/vars";
@import "../../../styles/sass/mixins";


.packageTitle {
  @include text(26px, 400, 31px);
  margin: 71px auto auto auto;
  width: 266px;
  text-align: center;
  @include media(xs) {
    margin: 50px auto auto auto;
  }
  @include media(sm) {
    transform: translate(-229px, 32px);
    @include text(20px, 500, 29px);
  }
  @include media(md) {
    transform: translate(-424px, -213px);
    @include text(28px, 500, 41px);
    width: 315px;
  }
  @include media(lg) {
    transform: translate(-466px, -254px);
    @include text(20px, 500, 30px);
    width: 220px;
  }
  @include media(xxl) {
    transform: translate(-456px, -253px);
  }
}

.packageImgBlock {
  display: flex;
  overflow: scroll;
  margin-top: 32px;
  @include media(xs) {
    column-gap: 10px;
  }
  @include media(sm) {
    flex-wrap: wrap;
    max-height: 920px;
    max-width: 591px;
    transform: translate(67px, 25px);
    row-gap: 11px;
    overflow: hidden;
    column-gap: 8px;
    //margin-left: -11px;
  }
  @include media(md) {
    transform: translate(48px, -211px);
    flex-direction: row;
    max-width: 1180px;
    column-gap: 10px;
    height: 385px;
  }
  @include media(lg) {
    transform: translate(131px, -253px);
    max-width: 1166px;
  }
  @include media(xxl) {
    transform: translate(371px, -253px);
  }
}

.packageImg {
  margin: 0 2px 0 15px;
  width: 277px;
  height: 185px;
  @include media(xs) {
    transform: translate(37px, 2px); //sdfsdfsdfsdfsdfsdfsdfsdf
    margin: 0;
  }
}

.packageImgFoto {
  display: none;
  @include media(sm) {
    //border-bottom: 0.5px solid #C7C7C7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 27px;
    transform: translate(-1px, 21px);
    @include text(17px, 500, 25px);
    color: #5286EC;
  }
  @include media(md) {
    transform: translate(-6px, -220px);
  }
  @include media(lg) {
    transform: translate(-6px, -263px);
  }
  @include media(xxl) {
    transform: translate(2px, -262px);
  }
}



