@import "../../../styles/sass/vars";
@import "../../../styles/sass/mixins";


.header {
  background-color: $primaryColor;

  .container {
    @extend %container;

    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      @include media(sm) {
        height: 100px;
      }

      .wrapper {
        display: flex;
        margin-top: 3px;

        .logo {
          margin-right: 45px;
          @include media (xs) {
            margin-right: 36px;
          }
          @include media (sm) {
            width: 129px;
          }
          @include media (lg) {
            transform: translate(8px, 0);
          }
          @include media (xxl) {
            transform: translate(8px, -1px);
          }
        }

        .phoneMoscow {
          color: $linkColor;
          @include text(14px, 400, 17px);
          @include media (xs) {
            display: none;
          }
        }

        .phone {
          display: none;
          @include media (xs) {
            display: block;
          }
          @include media (sm) {
            transform: translate(0, 4px);
          }
          @include media (md) {
            transform: translate(0, 1px);
          }
          @include media (lg) {
            transform: translate(8px, 0);
          }
          @include media (xxl) {
            transform: translate(8px, 0px);
          }

          span, .phoneLink {
            @include text(14px, 400, 17px);
          }

          span {
            color: $textColorLight;
          }

          .phoneLink {
            color: $textColor;
          }
        }
      }
      .user {
        .userImg {
        }
        @include media (md) {
          display: none;
        }
        @include media (sm) {
          transform: translateY(4px);
        }
      }
    }
  }
}


