@import './../../../styles/sass/vars.scss';
@import './../../../styles/sass/mixins.scss';


.photographerDataInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.buttonLike {
  width: 31px;
  height: 27px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.avatarImg {
  width: 139px;
  height: 139px;
}

.photographerName {
  @include text(18px, 500, 22px);
}

.photographerProfession {
  @include text(14px, 400, 21px);
}

.photographerInfo {
  @include text(14px, 500, 21px);
  color: #5286EC;
  text-decoration: none;
  width: 225px;
  height: 37px;
  text-align: center;
}

.photographerSubTitle {
  @include text(18px, 500, 26px);
}

.photographerText {
  @include text(16px, 400, 24px);
  width: 290px;
}

.photographerTextTwo {
  margin-top: 30px;
}